/* #black{
    background-color: black;
    color: white;
    text-align: center;
    width: 120px;
    height: 100px;
    position: absolute;
    top: -120px;
    opacity: 0.7;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    z-index: 1;
    
} */
/* .text {
    margin: 0 13px;
    display: flex;
    justify-content: center;
    
    transform: translateY(-50%);
     margin: 130px 20px;
    text-align: center;
     border: 1px solid #000;
    transition: transform .3s ease-in-out;
    
    &:hover {
      transform: rotateX(35deg), translateY(-50%);   
      span {
        color: #ccc;
        &:nth-child(odd) {
          transform: skewY(15deg);      
          background-color: #f00;
         box-shadow: 0 60px 20px rgba(0,0,0,0.1);
        }
        &:nth-child(even) {
          transform: skewY(-15deg);      
          background-color: #f9f9f9;
          color: #a6a6a6;
         box-shadow: 0 60px 20px rgba(0,0,0,0.1);
        }
      }
    }
    
    > span {
      display: block;
      background-color: #fff;
      width: 120px;
      height: 120px;
      line-height: 120px;
      transition: transform .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
      box-shadow: 0 40px 50px rgba(0,0,0,0.1);
      &:first-child {
        border-radius: 5px 0 0 5px;
      }
    }
  } */
#div{
    border: 2px solid rgb(243, 236, 228);
    margin: 14px 10px;
}
.i{
    color: white;
}
#head{
    border-bottom: 1px solid white;
   
}
#lorem{
    color: white;
}
#div1{
    margin: 10px 10px;
    border-bottom: 2px solid white;
}
.h{
    color: gold;
}
.text{
    color: white
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.dj {
  font-family: 'Bebas Neue', cursive;
  font-size: 2em;
  /* position: absolute;
  top: 50%;
  left: 50%; */
  transform: translate(-50%,-50%);
  background-image: linear-gradient(gold, gold);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  color: white;
   transition: background-size .7s, background-position .5s ease-in-out;
}

.dj:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
  color: black;
}
#bu{
    background-color: blanchedalmond;
    height: 50px;
}
#six{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 13px;
    row-gap: 10px;
    margin: 10px 10px;
    padding: 13px;
    border-bottom: 2px solid white;
    background-color: gray;
    
}
.img{
  box-shadow: 3px 3px brown;
}
.h{
  margin: 10px 10px;
}
.u:hover{
  background-color: gray;
  cursor: pointer;
  color: black;
}
/* #sale{
  background-color: gray;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 400px;
  padding: 0 5px;
  
  text-align: center;
}
.p{
  background-color: gray;
  color: white;
}
.p1{
  background-color: blanchedalmond;
} */

#bg{
  background-color: #3d0729;
  width: 740px;
  margin: 30px 250px;
  
}
#hr{
  background-color: darkgray;
  padding: 12px;
}
.u{
  color: burlywood;
}
#button{
  background-color: #3d0729;
  color: red;
  width: 160px;;border-radius: 6px;
  border: 2px solid red;
  height: 50px;
}
/* #hr{
  border-bottom: 2px red;
} */
#plus{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
#basic{
  border-right: 1px solid rgb(223, 215, 215);
  padding: 3px 3px 15px 15px;
}
#feb{
  border-right: 1px solid rgb(218, 208, 208);
  padding: 3px 3px 15px 15px;

}
.flex{
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  padding: 20px;
}
.o{
  color: white;
}
#butt{
  background-color: red;
  
  width: 160px;;border-radius: 6px;
  border: 2px solid red;
  height: 50px;
}
.te{
  color: black;
  text-align: center;
}
.ar{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 3px 2px 4px 6px rgb(222, 157, 27);
  padding: 3px 10px;
}
#gr{
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: space-between;
  margin: auto 15px;
}
.ho:hover{
  background-color: gray;
  opacity: 0.5;

}
#big{
  padding: 20px;
}









