@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }
*{
    box-sizing: border-box;
}
.navbar{
    background-image: url();
}
div.navbar-collapse{
    flex-grow: 0;
}
main{
    margin-top: 5%;
}
#main3{
    margin-top: 4%;
}
.home-img{
    position: relative;
}
.bottomB{
    border-radius: 0 0 30% 30%;
}
.category{
    text-decoration: none;
    color: black;
}
.category:hover{
    background-color: rgb(141, 141, 141) !important;
}
.eventCategory{
    overflow: scroll;
    column-gap: 20px;
    scrollbar-color: gray  black;
}
.name{
    font-family: 'Rocher';
}

.nav-link.active{
	color: red !important;
}

@media screen and (max-width:920px) {
	.text1{
		top: 10% !important;
		/* left: 25px !important; */
	}
}

body{
    background-image: repeating-linear-gradient(
        45deg,
       black,
        black 25px,
        #0a0a0a 25px,
        #0a0a0a 50px
   );
   background-repeat: repeat;
   background-attachment: cover;
}

.mainHeader{
    font-family: 'Courier New';
    color: yellow;
    text-shadow: 1px 1px 3px red;
    font-size: 60px;
}

.mainHeader2{
    font-family: 'Courier New';
    color: yellow;
    text-shadow: 1px 1px 3px red;
}

.header2{
    position: relative;
    background-image: url(https://cdn.vectorstock.com/i/preview-1x/83/42/dynamic-sport-or-gaming-background-vector-45748342.jpg);
    height: 44vw;
    background-attachment: cover;
    background-size: 100%;
    background-position: 0;
    background-repeat: no-repeat;
    
}

.header3{
    position: relative;
    background-image: url(https://scontent.frgn10-1.fna.fbcdn.net/v/t39.30808-6/326339791_1313083629256919_3221312610980122138_n.jpg?stp=dst-jpg_p640x640&_nc_cat=104&ccb=1-7&_nc_sid=783fdb&_nc_ohc=HydRu1DAecUAX8rXntD&_nc_ht=scontent.frgn10-1.fna&oh=00_AfA4Uzpy2tN2OwjygsvpO1kx11LtHXCk9yWU6iI3sdVz1g&oe=65D22298);
    height: 44vw;
    background-attachment: cover;
    background-size: 100%;
    background-position: 0;
    background-repeat: no-repeat;
    
}

.header4{
    position: relative;
    background-image: url(https://images.contentstack.io/v3/assets/blt370612131b6e0756/blt908c86dfe9a4a9bf/5fad8409bfc5dd718865bcbc/WR_Cityscape_Channel_Header_Thailand_FINAL.png);
    height: 44vw;
    background-attachment: cover;
    background-size: 100%;
    background-position: 0;
    background-repeat: no-repeat;
    
}


.mainDiv{
    top: 40%;
    left: 40%;
}


#events{
    font-size: 10vw;
    font-weight: bold;
    color: white;
    text-shadow: -1px -1px 0 #e7e7e7, 1px -1px 0 #e7e7e7, -1px 1px 0 #e7e7e7, 1px 1px 0 #e7e7e7;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
}

#esportEvent,#categoryEvent,#aboutEvent{
    position: absolute;
    font-size: 3vw;
    color: #ffc200;
    text-shadow: none;
    left: 35%;
    bottom: 23%;
}

#categoryEvent{
    left: 45%;
}

#aboutEvent{
    left: 43%;
}

.imageLogo{
    width: 50px;
    height:50px;
    background-color: black;

}

.flexLogo{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    padding-top: 10px;
}

#sectionGrid{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
}

.textLogo{
    font-family: 'Protest Strike';
    font-weight: bold;
    font-size: 30px;
    margin: 10px 10px 0 ;
    color: #ffc200;
}

.textDate2{
    color: gray;
    font-size: 20px;
}

.viewEvent{
    border: 2px solid #ffc200;
    padding: 10px 65px;
    color: #ffc200;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}

.viewEvent:hover{
    color: white;
    background-color: #ffc200;
}

.eventDiv{
    text-align: center;
    height: 600px;
}

.eventDiv1{
    text-align: center;
    height: 600px;
}

.positionDiv2{
    position: relative;

}

.positionDiv{
    position: absolute;
    width: 85%;
    background-color: white;
    top: 85%;
    left: 7%;
}


.eventImage{
    width: 100%;
    height: 240px;
}

.text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.textDiv{
    padding: 20px;
}

.faqLink{
    text-decoration: none !important;
    color: white !important;
}

.faqLink:hover{
    color: gold !important;
}


.h1gold{
    color: gold !important;
}



@media screen and (max-width:1030px){
    #sectionGrid{
        grid-template-columns: 45% 45%;
    }

    .mainHeader{
        font-size: 40px;
    }
    .header2{
        margin-top: 10%;
    }
}

@media screen and (max-width:600px){
    #sectionGrid{
        grid-template-columns: 90%;
    }

    .mainHeader{
        font-size: 20px;
    }

    .header2{
        margin-top: 20%;
    }

    #esportEvent,#categoryEvent,#aboutEvent{
        bottom: 10%;
        font-size: 5vw;
        left: 40%;
    }


    #aboutEvent{
        left: 37%;
    }
}